* {
	font-size: 20px;
}
table{
	margin-top:280px;
	border-spacing: 35px;
}
th {
	padding:6px;
	padding-top: 27px;
	padding-left: 10px;
	color:;
	font-family:"Arial Narrow", sans-serif;

}
#background {
	position:fixed;
	margin-left: 450px;
	width:150vw;
	height:250vh;
	background-size:450px;
  background-image: url('Bingo.png');
  background-repeat: no-repeat;
}
